body {
    padding: 0;
    margin: 0;
}
/*ZGORNJA NAVIGACIJA*/
.top-bar{
    background-color: #23232d;

    margin-top: 14px;

    padding-top: 14px;
    padding-bottom: 14px;

    font-size: 15px;
}

.top-bar-container{
    overflow: hidden;
    width: 100%;
}

.col-left{
    padding-left: 15px;
    width: 50%;
    float: left;
}
/*levi-stolpec-podatki*/
.phone{
    color: #898989;
    margin-right: 10px;
}

.email{
    color: #898989;
    font-size:15px;
}
/*levi-stolpec-podatki*/
.col-right{
    padding-right: 15px;
    margin-left: 50%;
    text-align: right;
}
.email-link{
    text-decoration: none;
    color: #898989;
    word-wrap: break-word;
}
.email-link:hover{
    color: lightblue;
}
.phone-icon{
    margin-right: 5px;
    font-size: 15px;
}
/*desni-stolpec-podatki*/
.fa {
  padding: 2.5px;
  text-align: center;
  text-decoration: none;
  border-radius: 2.5px;
  margin-right: 5px;
  font-size: 25px;
}

.fa-facebook {
  background-color: gray;
  color: white;
  font-size: 15px;
  /*border: 1px solid black;*/
}

.fa-facebook:hover {
    background-color: #3B5998;
}

.fa-linkedin {
  background-color: gray;
  color: white;
  font-size: 15px;
}

.fa-linkedin:hover {
    background-color: #007bb5;
}

.fa-youtube-play{
   background: white;
   color: red;
   padding: 0;
}
/*desni-stolpec-podatki*/
/*ZGORNJA NAVIGACIJA*/

/*LOGO*/
.logo-picture{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 14px;/*temp solution*/
}
/*LOGO*/

/*BASKET*/
.basket-container{
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
}
.shopping-cart{
    float: right;
    margin-top: 25px;
    margin-bottom: 25px;
}
.shopping-card-button{
    font-size:20px;
    border: none;
    background: none;
    outline: none;
}
.shopping-card-button:hover{
    cursor: pointer;
}
/*BASKET*/

hr {
  border: 0.5px solid black;
}

/*NAVIGATION*/
.navigation-container{
    margin-bottom: 15px;
    text-align: center;
}

.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation-item {
  display: inline;
  padding: 10px 10px;
}

.navigation-item:hover{
    cursor: pointer;
}
.hoverMTop{
    display: inline-block;
}
.hoverMTop:after {
  display:block;
  content: '';
  border: solid 1px green;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  transform-origin:  0% 50%;
}
.hoverMTop:hover:after { transform: scaleX(1); }
/*NAVIGATION*/

/*TITLES*/
.title-shop{
    display: grid;
    grid-template-columns: minmax(20px, 1fr) auto minmax(20px, 1fr);
    align-items: center;
    text-align: center;
    grid-gap: 20px;
    width: 100%;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 20px;
}

.title-shop:before,
.title-shop:after {
    content: '';
    border-top: 1px solid black;
    height: 3px;
    border-bottom: 1px solid black;
}
.shop-name-description{
    margin: 0 0;
    text-align: center;
}
/*Title1*/
.our-sewing-shop{
    background-color: #f7f7f7;
    padding-bottom: 100px;
}

.our-sewing-shop-container{
    margin: 0px 50px;
    /*margin-bottom: 30px;*/
}
.our-sewing-shop-table-container{
    margin-right:50px;
}
.our-sewing-shop-table{
    table-layout: fixed;
    width: 100%;
}
.table1-image-row{
    text-align:right;
    vertical-align:top;
    padding: 0px 25px;
}
.table1-title{
     margin-top:0;
     padding-bottom: 10px;
     vertical-align:top;
}
.table1-content{
    word-wrap: break-word;
}
/*Title1*/

/*Title2*/
.sewing-shop-choise{
    padding-bottom: 100px;
}

.sewing-shop-choise-container{
    margin: 0px 50px;
    margin-bottom: 30px;
}
/*Title2*/

/*Title3*/
.parallax1{
    position:relative;
}

.parallax1-container{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
/*Title3*/
/*TITLES*/

