body {
    padding: 0;
    margin: 0;
}

.top-bar{
    background-color: #23232d;

    margin-top: 14px;

    padding-top: 14px;
    padding-bottom: 14px;
}

.top-bar-container{
    padding-left: 15px;
    padding-right: 15px;
}

.col-left{
    /*padding-left: 15px;*/
    padding-right: 15px;

    width: 50%;
    float: left;

    height: 21px;/*temp solution*/
    vertical-align: middle;

    font-size: 15px;
}

.col-right{
    padding-left: 15px;
    /*padding-right: 15px;*/

    margin-left: 50%;
    text-align: right;

    font-size: 15px;
}

.email{
    color: #898989;
    /*margin-right: 20px;*/
}

.phone{
    color: #898989;
    margin-right: 10px;
}

.phone-icon{
     margin-right: 5px;
}

.basket-container{
    padding-left: 15px;
    padding-right: 15px;
}

.fa {
  /*height: 15px;
  width: 15px;*/
  padding: 2.5px;
  text-align: center;
  text-decoration: none;
  border-radius: 2.5px;
  margin-right: 5px;
  font-size: 25px;
  vertical-align: super;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  font-size: 15px;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
  font-size: 15px;
}

.fa-youtube-play{
   background: white;
   color: red;
   padding: 0;
}

.email-link{
    text-decoration: none;
    color: #898989;
}
.email-link:hover{
    color: lightblue;
}

.logo-picture{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 14px;/*temp solution*/
}

.shopping-cart{
    float: right;
    margin-top: 25px;
    margin-bottom: 25px;
}

hr {
  border-top: 0.5px solid lightgray;
}

.shopping-card-button{
    font-size:20px;
    border: none;
    background: none;
    outline: none;
}
.shopping-card-button:hover{
    cursor: pointer;
}

.navigation-container{
    margin-left: 300px;
    margin-bottom: 15px;
}

.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation-item {
  display: inline;
  padding: 10px 10px;
}

.navigation-item:hover{
    cursor: pointer;
}

.hoverMTop{
    display: inline-block;
}
.hoverMTop:after {
  display:block;
  content: '';
  border: solid 1px green;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  transform-origin:  0% 50%;
}
.hoverMTop:hover:after { transform: scaleX(1); }

.name-of-shop{
    display: grid;
    grid-template-columns: minmax(20px, 1fr) auto minmax(20px, 1fr);
    align-items: center;
    text-align: center;
    grid-gap: 20px;
    width: 100%;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 20px;
}

.name-of-shop:before,
.name-of-shop:after {
    content: '';
    border-top: 1px solid black;
    height: 3px;
    border-bottom: 1px solid black;
}

.our-sewing-shop{
    background-color: #f7f7f7;
    padding-bottom: 100px;
}

.our-sewing-shop-container{
    margin: 0px 150px;
    margin-bottom: 30px;
}

.shop-name-description{
    margin: 0 0;
    text-align: center;
}

.sewing-shop-choise{
    padding-bottom: 100px;
}

.sewing-shop-choise-container{
    margin: 0px 150px;
    margin-bottom: 30px;
}