body {
    padding: 0;
    margin: 0;
}
/*ZGORNJA NAVIGACIJA*/
.top-bar{
    background-color: #23232d;

    margin-top: 14px;

    padding-top: 14px;
    padding-bottom: 14px;

    font-size: 15px;
}
.top-bar-container{
    overflow: hidden;
    width: 100%;
}
.col-left{
    padding-left: 15px;
    width: 50%;
    float: left;
}
/*levi-stolpec-podatki*/
.phone{
    color: #898989;
    margin-right: 10px;
}
.email{
    color: #898989;
    font-size:15px;
}
/*levi-stolpec-podatki*/
.col-right{
    padding-right: 15px;
    margin-left: 50%;
    text-align: right;
}
.email-link{
    text-decoration: none;
    color: #898989;
    word-wrap: break-word;

    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}
.email-link:hover{
    color: lightblue;
}
.phone-icon{
    margin-right: 5px;
    font-size: 15px;
}
/*desni-stolpec-podatki*/
.fa {
  padding: 2.5px;
  text-align: center;
  text-decoration: none;
  border-radius: 2.5px;
  margin-right: 5px;
  font-size: 25px;
}
.fa-facebook {
  background-color: gray;
  color: white;
  font-size: 15px;
  transition: background 0.5s linear;
  /*border: 1px solid black;*/
}
.fa-facebook:hover {
    background-color: #3B5998;
}
.fa-linkedin {
  background-color: gray;
  color: white;
  font-size: 15px;
  transition: background 0.5s linear;
}
.fa-linkedin:hover {
    background-color: #007bb5;
}
.fa-youtube-play{
   background: white;
   color: red;
   padding: 0;
}
/*desni-stolpec-podatki*/
/*ZGORNJA NAVIGACIJA*/
/*LOGO*/
.logo-picture{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 14px;/*temp solution*/
}
/*LOGO*/
/*BASKET*/
.basket-container{
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
}
.shopping-cart{
    float: right;
    margin-top: 25px;
    margin-bottom: 25px;
}
.shopping-card-button{
    font-size:20px;
    border: none;
    background: none;
    outline: none;
}
.shopping-card-button:hover{
    cursor: pointer;
}
/*BASKET*/
hr {
  border: 0.5px solid black;
}
/*NAVIGATION*/
.navigation-container{
    margin-bottom: 15px;
    text-align: center;
}
.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navigation-item {
  display: inline;
  padding: 10px 10px;
}
.navigation-item:hover{
    cursor: pointer;
}
.hoverMTop{
    display: inline-block;
}
.hoverMTop:after {
  display:block;
  content: '';
  border: solid 1px green;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  transform-origin:  0% 50%;
}
.hoverMTop:hover:after { transform: scaleX(1); }
/*NAVIGATION*/
/*TITLES*/
.title-shop{
    display: grid;
    grid-template-columns: minmax(20px, 1fr) auto minmax(20px, 1fr);
    align-items: center;
    text-align: center;
    grid-gap: 20px;
    width: 100%;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 20px;
}
.title-shop:before,
.title-shop:after {
    content: '';
    border-top: 1px solid black;
    height: 3px;
    border-bottom: 1px solid black;
}
.shop-name-description{
    margin: 0 0;
    text-align: center;
}
/*Title1*/
.our-sewing-shop{
    background-color: #f7f7f7;
    padding-bottom: 100px;
}
.our-sewing-shop-container{
    margin: 0px 50px;
    /*margin-bottom: 30px;*/
}
.our-sewing-shop-table-container{
    margin-right:50px;
}
.our-sewing-shop-table{
    table-layout: fixed;
    width: 100%;
}
.table1-image-row{
    text-align:right;
    vertical-align:top;
    padding: 0px 25px;
}
.table1-title{
     margin-top:0;
     padding-bottom: 10px;
     vertical-align:top;
}
.table1-content{
    word-wrap: break-word;
    vertical-align:top;
}
/*Title1*/
/*Title2*/
.sewing-shop-choise{
    padding-bottom: 100px;
}
.sewing-shop-choise-container{
    margin: 0px 50px;
    margin-bottom: 30px;
}
/*Title2*/
/*Title3*/
.parallax1{
    display: table;
}
.parallax1-container{
  display: table-cell;
  vertical-align: middle;
}
.ghost-center{
    position:relative;
    background-color: white;
    border: 1px solid black;
}
.ghost-center:hover{
    background-image:url(../img/sewing/our-sewing-shop.png);
}
.ghost-center:before{
  content: " ";
  display: inline-block;
  height: 100%;
  width: 1%;
  vertical-align: middle;
}
.ghost-center span {
  display: inline-block;
  vertical-align: middle;
  padding:5px 25px 50px 5px;
}
.links-clothes{
    color: black;
}
/*Title3*/
/*Title4*/
.presentation-of-sewing-shop{
     padding-top:100px;
     padding-bottom:100px;
     background-color:#f7f7f7;
}
.presentation-of-sewing-shop-container{
    margin-left:10%;
    margin-right:10%;
}
.presentation-of-sewing-shop-table{
     table-layout: fixed;
     width: 100%;
}
.presentation-of-sewing-shop-title{
     float:left;
}
.text-align-table-titles{
     vertical-align: top;
}
.link-read-more{
     text-decoration:none;
     color:black;
}
.link-read-more:hover{
    color: lightblue;
}
/*Title4*/
/*Motivation*/
.motivation-container{
     background-color: #6699ff;
}
.motivation-container-sub{
     margin-left:5%;
     margin-right:5%;
}
.motivation-table{
     table-layout: fixed;
     width: 100%;
}
.motivation-row-button{
     text-align:right;
     width:100px;
}
.motivation-row-button-link{
     color: white;
     background-color: #000066;
     padding: 10px 10px;
     text-align: center;
     border-radius:5px;
     white-space: nowrap;
     width:100%;
     text-decoration: none;
     border: 1px solid black;
     transition: background 0.5s linear;
}
.motivation-row-button-link:hover{
    background-color: #6699ff;
}
/*Motivation*/
/*Copyright*/
.copyright-container{
     height: 200px;
     text-align: center;
     background-color: #23232d;
}
.copyright-div{
    padding-bottom:20px;
}
.copyright-text{
    color: #898989;
}
/*Copyright*/
/*TITLES*/